
.menubar{
    margin: 3%;
    display:flex;
    text-align: center;
    overflow: hidden;
}
.logo{
flex:64;
width: auto;
height: auto;
text-align: start;
}
.features{
flex:12;
padding-bottom:2%;
}
.team{
flex:12;
padding-bottom:2%;
}
.signin{
flex:12;
padding-bottom:2%;
}

.firsthalf
{
    display: flex;
}
.matter1{
    padding: 5%;
    flex: 35;
    }
    .matter1 input[type="button"]{
        padding-left: 7%;
    padding-right: 7%;
    padding-top:3%;
    padding-bottom: 3%;
    color: aliceblue;
    background-color: blue;
    border-radius: 3px;
    font-weight: bold;
    border: none;
    width: 90%;
        
    }
    .matter1 input[type="text"]{
        width: 90%;
    padding-top:3%;
    padding-bottom: 3%;
    border-width: 1px;
    border-color: black;
   border-radius: 3px;
   color: gray;
    }
.backimg1{
    flex:65;
    
}

.writer{
    flex: 80%;
    /* line-height: 20px; */
    /* padding-top: 5px; */
    padding-left: 5px;
}
.backimg1 img{
    width: 100%;
    height: 100%;
}

.secondhalf
{
    display: flex;
    background-image: url("bg-curve-desktop.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.matter2{
    padding: 5%;
    flex: 35;
    }
.matter2 button{
    padding-left: 5%;
    padding-right: 5%;
    color: aliceblue;
    background-color: blue;
    box-sizing: border-box;
    border-color: blue;
    font-weight: bold;
    
}
.backimg2{
    flex:65;  
}

.backimg2 img{
    width: 100%;
    height: 100%;
}

.checkoutlink{
    color: hsl(170, 45%, 43%);
    border-bottom-style: solid;
    border-width: 1px;
    display: inline; 
    margin: 7%;
}
.container11{
    display: flex;
    flex-direction: row;
}

.quotebox{
    margin-top: 10%;
    padding:6%;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 1px rgb(155, 153, 153);
    display: block;
}
#dp{
    flex: 20%;
    width: 20%;
    height: 20%;
    object-fit: contain;
    border-radius: 50%;
}

.quotebox div{
    display: inline-block;
    
}


.thirdhalf{
    background-color: hsl(238, 22%, 44%);;
    display: flex;
    padding: 5%;
    color: white;
}

.matter3{
    flex:1;
    padding: 5%;
}
.form3{
    flex:1;
    padding: 5%;
}
.form3 input[type="button"]{
    border-radius: 3px;
    padding-left: 7%;
    padding-right: 7%;
    padding-top:3%;
    padding-bottom: 3%;
    color: aliceblue;
    background-color: blue;
    font-weight: bold;
    border: none;
    width: 90%;
    
}
.form3 input[type="text"]{
    width: 90%;
    padding-top:3%;
    padding-bottom: 3%;
    border-width: 1px;
    border-color: black;
   border-radius: 3px;
   color: gray;
}


.fourthhalf{
    display: flex;
    background-color: hsl(243, 87%, 12%);
    color: white;
    padding: 5%;
}
.col1{
    padding: 5%;
    flex: 1;
}
.col2{
    padding: 5%;
    flex: 1;
}
.col3{
    padding: 5%;
    flex: 1;
}
.col4{
    padding: 5%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.col4 img{
    height:20%;
    width: 20%;  
   
}


.col1 img{
    height:40%;
    width: 90%;  
    padding:2%;
}

body{
    font-family: 'Raleway';
}
h1{
    font-family: "Open Sans";
    font-weight: 700;
}

@media(max-width:780px){
    body{
        font-size: 90%;
    }
    .firsthalf{
        flex-direction: column-reverse;
        
    }
    .secondhalf{
        flex-direction: column-reverse;
        
    }
    .thirdhalf{
        flex-direction: column;
    }
    .fourthhalf{
        flex-direction: column;
    }
    .col1 img{
        height:10%;
        width: 10%;  
        padding:5%;
    }

    .logo img{
        height:75%;
        width:50%;
    }
    .col4 img{
        height:30%;
        width:30%;
    }
}



@media (max-width:480px){
    body{
        font-size: 70%;
    }
    .col4 img{
        height:15%;
        width:15%;
    }
}
